{% extends 'base.html.j2' %}

{% block css %}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}

{% block title %}
  Yummy Gear
{% endblock %}

{% block content %}
<div>
  <img src="https://res.cloudinary.com/deudvhzaw/image/upload/v1636249750/Yummy_cmwzhw.png" class="center img-fluid">
</div>
{% endblock %}